body {
    background: rgba(1, 231, 243, 0.909); /* blue with 40% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background: rgba(7, 15, 244, 0.4); /* purple with 40% opacity */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* 3D effect with shadow */
  }
  
  .result {
    background: #fff; /* white */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    background: rgba(241, 109, 15, 0.4); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  
  .operator {
    color: #fff; 
  }
  
  .equal {
    background: rgb(255, 251, 0); 
  }
  
  .clear {
    grid-column: span 2; 
  }
  
  button:active {
    transform: scale(0.95); 
  }
  